@import "../node_modules/materialize-css/dist/css/materialize.min.css";
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* MAIN */
.mainContent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top:5%;
}
main {
  flex: 1 0 auto;
}
.imageFeed {
  height:400px;
  width:600px;
  background-color:rgb(52, 108, 141);
  margin:0 auto;
}
/* TEXT FEED */

.post-text {
  width:40%;
  height:320px;
  margin: 0 auto;
  border:2px solid black;
  margin-bottom:15px;
  margin-top:15px;
}
.user-displayed-data {
  height:50px;
}
.user-feed-photo {
  width:50px;
  height:50px;
  margin-left:2%;
  border-radius:50%;
  background-color:black;
}
.post-text-content {
  border-bottom:2px solid black;
  height:200px;
  padding-top:10%;
  background-color:#d6f0ff;
  padding-left:5%;
  font-size:20px;
  
}
/* IMAGE FEED */
.post-video {
  clear:both;
  width:40%;
  height:320px;
  margin: 0 auto;
  border:2px solid black;
  margin-bottom:15px;
  margin-top:15px;
}
.post-video-content {
  border-bottom:2px solid black;
  height:200px;
  background-color:#d6f0ff;
}
.post-image {
  clear:both;
  width:40%;
  height:320px;
  margin: 0 auto;
  border:2px solid black;
  margin-bottom:15px;
  margin-top:15px;
}
.post-image-content {
  border-bottom:2px solid black;
  height:200px;
  background-color:#d6f0ff;
}
.post-image-inner {
  width:100%;
  height:100%;
}

.post-type {
  height:50px;
  float:left;
  padding-left:2%;
  padding-top:2%;
  font-size:16px;
  text-transform: uppercase;
  
}
/* NAV */


nav{
  background-color:#d6f0ff;
}
.aNav {
  color:black;
}

.liFeed1 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.liFeed2 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.liFeed3 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.page-footer {
  background-color:#d6f0ff;
}
/* 
CREATE POST */
.create-post{
  border:2px solid rgb(203, 233, 250);
  position:fixed;
  bottom:0px;
  right:20px;
  padding:10px;
  background-color:#e7f3fa;
  border-radius:5%;
}
.new-post {
  width:100px;
  height:100px;
  border-radius:50%;
  border:2px solid rgb(52, 108, 141);
  font-size:22px;
  display:flex;
  background-color:#d6f0ff;
  color:rgb(52, 108, 141);

  -webkit-box-shadow: 18px 23px 20px -12px rgba(0,0,0,0.86);
-moz-box-shadow: 18px 23px 20px -12px rgba(0,0,0,0.86);
box-shadow: 18px 23px 20px -12px rgba(0,0,0,0.86);
}
.new-post div {
  margin:auto;
  text-align: center;
  line-height: 1.2;
  
}
.post-comments {
  float:right;
  padding-right:2%;
  padding-top:2%;
  text-transform: uppercase;
  

}

/* FOOTER */
.footerText {
  color:#3477e2;
}